* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-image: linear-gradient(
    to right,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(0 80% 100% /0.1);
  backdrop-filter: blur(5rem);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.7;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-bar {
  padding: 5rem 2rem 1rem 2rem;
  background: linear-gradient(to right, gray, #ECF5EE);
  margin-bottom: 30px;
}
.logo-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}
.logo-nav li {
  list-style-type: none;
}

.menu {
  color: white;
}
form.search input[type="text"] {
  padding: 30px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
  border-radius: 0 1px 20px 0;
  border: none;
}
form.search button {
  display: inline;
  width: 20%;
  padding: 30px;
  background: #a2e915;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 20px 0 0 1px;
  border: none;
  cursor: pointer;
}

form.search button:hover {
  background: #7cb509;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
.fa-user-o,
.fa-phone {
  color: green;
  background-color: inherit;
  padding-bottom: 5px;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.registration {
  margin-top: 5px;
}
.registeration-links {
  display: inline;
  color: black;
}
.registration ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.registration ul li {
  padding: 30px;
  list-style-type: none;
  font-size: 1.5rem;

  padding-right: 1.5rem;
  opacity: 1;
  backdrop-filter: blur(20rem);
  border-radius: 30px;
  vertical-align: middle;
  margin-left: 20px;
  transition: 2s;
}
.registration ul li:hover {
  background-color: #a2e915;
  transition: ease;
}
.registration ul li a {
  text-decoration: none;
  color: green;
  text-decoration-color: rgba(0, 0, 255, 0);
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
  transition: all 0.5s ease-in-out;
}
.registration ul li a:hover {
  text-decoration-color: rgba(0, 0, 255, 1);
}
/* main media */
@media (max-width: 1350px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
  }
  .logo-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .registration ul li {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }
}

@media (max-width: 812px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
  }
  .registration ul li:hover {
    background-image: linear-gradient(to left,  #ECF5EE , rgb(62, 232, 255));;
    transition: ease;
  }
  .menu-button {
    width: 2rem;
    height: 2rem;
    right: 1%;
    top: 1%;
    background: url(../img/menu.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  .menu-button:hover,
  .menu-button-close:hover {
    cursor: pointer;
  }

  .registration ul {
    position: absolute;
    width: 50vw;
    left: -25rem;
    top: 0;
    transition: ease-out 1s;
  }
  .menu-button-close {
    width: 2rem;
    height: 2rem;
    right: 1%;
    top: 1%;
    background: url(../img/close.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: ease-out;
    display: none;
  }

  .registration ul li {
    backdrop-filter: blur(7rem);
    background-color: transparent;
    border-radius: 3px;
    width: 100%;
    margin: 0;
    align-items: unset;
  }
  .logo-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  .registration ul {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (max-width: 550) {
  .fa {
    width: 80%;
    border-radius: 0 0 30px 30px;
  }
}

/* Slide show stylign
  -- ---------------------------------- */
.middle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  
}
.content {
  text-align: justify;
}
.mySlides {
  display: none;
    z-index: 1000;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px 0px white;
  transition: ease-in 0.5s;
  border-radius: 5px;
  background-image: linear-gradient(to left,  #ECF5EE , rgb(62, 232, 255));;;/*#466538;*/
}
.mySlides:hover {
  box-shadow: 0px 0px 10px 10px  rgb(62, 232, 255);
}

.mySlides img {
    z-index: 1000;
  object-fit: contain;
  vertical-align: middle;
  
  width: 100%;
  height: 20rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width:100%;
  
  text-align: center;
  backdrop-filter: blur(0.8rem);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2; 
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
    z-index: 9999;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/* slide show ends here */
/* ---------------------------------------------------------------- */
.content-heading  , .most-visited , .placesbg{
  padding: 2rem;
  background-image: linear-gradient(to right,  #ECF5EE , rgb(62, 232, 255));
  border-radius: 2rem;
  text-align: justify;
  box-shadow: white;
  margin-top: 2rem;
  /* font-weight: bolder; */
}
.content-heading h2{
  font-size: x-large;
  text-transform: uppercase;
  letter-spacing: .080rem;
  line-height: 1.6;
  color: black;
  font-weight: bold;
  padding: 2rem;
}

.content-heading ol{
  counter-reset: item;
}
.content-heading ol li{
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  display: block;
  list-style-position: inside;
  margin-left: 3em;
  font-size: larger;
  text-align: justify;
  letter-spacing: .080rem;
  line-height: 1.6;
  color: #001A68;
}
.content-heading li:before {
  content: counter(item) ". ";
  counter-increment: item;
  position: absolute;
  margin-left: -1.7em;
}
/* .most-visited{
  width: 100%;
  margin: 5rem auto 5rem auto;
  background-color: #ecf5ee;
  border-radius: 1rem;
  padding: 5rem;
  font-size: x-large;
} */
/* .placesbg{
  width: 100%;
  height: auto;
  margin: 5rem auto 5rem auto;
  background-color: lightgray;
  border-radius: 1rem;
  padding: 5rem; 
} */
.placesbg h2, .most-visited h2{
  text-transform: uppercase;
  letter-spacing: .080rem;
  text-align: justify;
  font-weight: bold;
  font-size: xx-large;
  line-height: 1.6;
  letter-spacing: .080rem;
 
}
.content-places{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .places img{
  width: 290px;
  height: 220px;
  border-radius: 30px;
  
} */
/* .places{
  margin: 1rem;
  text-align: center;
  width: 30%;
  background-color: #bbb;
  border-radius: 30px;
  box-shadow: #bbb;
 padding-top: 2rem;

} */
.content-places .places  {
  flex-basis: 350px; /* width: 350px; */
  border-radius: 30px;
  text-align: center;
  margin: 1rem;
  background-color: #042141;
  color: white;
  align-items: center;
}
.content-places .places a {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
}

.places img {
  object-fit: cover;
  max-width: 100%;
  height: 50vh;
  vertical-align: middle;
  border-radius: 5px;
}
@media (max-width: 550) {
  .places {
    flex-direction: column;
  }
}


/* footer */
/* --------------- */
.footer {
  z-index: 9999;
  --footer-background: linear-gradient(to right,  #ECF5EE , rgb(62, 232, 255));
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
 .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-30%, 100%);
}
.footer .content2 {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
 .footer .content2 a, .footer .content2 p {
  color: #042141;
  text-decoration: none;
}

.footer .content2 b {
  color: black;
}
 .footer .content2 p {
  margin: 0;
  font-size: 0.75rem;
}
 .footer .content2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .footer .content2 > div > div {
  margin: 0.25rem 0;
}
 .footer .content2 > div > div > * {
  margin-right: 0.5rem;
}
 .footer .content2 > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}
@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
 }
  100% {
    width: 0rem;
    height: 0rem;
 }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
 }
  100% {
    bottom: var(--distance, 10rem);
 }
}
